<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karan Dixit - Personal Portfolio</title>

  <!--
    - favicon
  -->
  <!-- <link rel="shortcut icon" href="./assets/images/logo.ico" type="image/x-icon"> -->

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
            <img src="{{ url_for('static', filename='images/me1.png') }}" alt="Karan Dixit" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Karan Dixit">Karan Dixit</h1>

          <p class="title">Web developer</p>
          <br>
          <p class="title">Founder Of Neocodenex</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="dixitk941@gmail.com" class="contact-link">dixitk941@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+919528202892" class="contact-link">+919528202892</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">March 19, 2005</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Hathras, Uttar Pradesh, India</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <!-- <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li> -->

          <li class="social-item">
            <a href="https://www.x.com/dixitk941" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="https://www.instagram.com/karan_dixit19" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Portfolio</button>
          </li>

          <!-- <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Blog</button>
          </li> -->

          <li class="navbar-item">
            <a href="#achievements" class="navbar-link" data-nav-link>Achievements</a>
          </li>
          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

          <li class="navbar-item">
            <a href="https://neocodenex.tech" class="navbar-link" data-nav-link>Neocodenex</a>
          </li>
          

        </ul>

      </nav>



      <br><br><br>



      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            I am a diligent BCA student at Rajiv Academy of Technology and Management, deeply passionate about coding and web development. Currently, I am actively engaged in exploring diverse facets of the tech world and endeavoring to construct intriguing projects.
          </p>

          <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I
            add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
            across your
            message and identity in the most creative way. I created web design for many famous brand companies.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{{ url_for('static', filename='images/icon-design.svg') }}" alt="design icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web design</h4>

                <p class="service-item-text">
                  The most modern and high-quality design made at a professional level.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <!-- <img src="./assets/images/icon-dev.svg" alt="Web development icon" width="40"> -->
                <img src="{{ url_for('static', filename='images/icon-dev.svg') }}"alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                </p>
              </div>

            </li>

            <!-- <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-app.svg" alt="mobile app icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Mobile apps</h4>

                <p class="service-item-text">
                  Professional development of applications for iOS and Android.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="./assets/images/icon-photo.svg" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Photography</h4>

                <p class="service-item-text">
                  I make high-quality photos of any category at a professional level.
                </p>
              </div>

            </li> -->

          </ul>

        </section>


        <!--
          - testimonials
        -->

        <section class="testimonials">

          <h3 class="h3 testimonials-title">Testimonials</h3>

          <ul class="testimonials-list has-scrollbar">

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                    <img src="{{ url_for('static', filename='images/avatar-4.png') }}" alt="Jessica Miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Gautam Singh</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Karan Dixit was hired to develop and enhance our software solutions. We were extremely impressed with the quality of his work. His extensive experience in software development and his dedication to understanding the specific needs of our project were evident from the outset. Karan's ability to deliver robust and scalable software solutions exceeded our expectations. He is very attentive to client requirements and consistently goes above and beyond to ensure satisfaction. His expertise in coding, problem-solving, and innovative thinking made a significant impact on our project's success. We highly recommend Karan for any software development needs.
                  </p>
                  
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                    <img src="{{ url_for('static', filename='images/avatar-1.png') }}" alt="Jessica Miller" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Aakash Dixit</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Working with Karan Dixit has been a game-changer for our business. As a software developer, Karan's technical prowess and innovative approach have significantly improved our operational efficiency. He has an exceptional ability to understand complex requirements and translate them into effective software solutions. Throughout the project, Karan demonstrated professionalism, excellent communication skills, and a strong commitment to delivering high-quality results. His attention to detail and proactive problem-solving ensured that our software was not only functional but also user-friendly and reliable. We are extremely satisfied with Karan's work and highly recommend him for any software development projects.
                  </p>
                  
                </div>

              </div>
            </li>

            <!-- <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-3.png" alt="Emily evans" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily evanszzz</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li>

            <li class="testimonials-item">
              <div class="content-card" data-testimonials-item>

                <figure class="testimonials-avatar-box">
                  <img src="./assets/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>
                </figure>

                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>

                <div class="testimonials-text" data-testimonials-text>
                  <p>
                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                    lot of experience
                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                    consectetur adipiscing
                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                  </p>
                </div>

              </div>
            </li> -->

          </ul>

        </section>


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="{{ url_for('static', filename='images/avatar-1.png') }}" alt="Daniel lewis" width="80" data-modal-img>
            </figure>

              <img src="{{ url_for('static', filename='images/icon-quote.svg') }}" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>


        <!--
          - clients
        -->

        <section class="clients">

          <h3 class="h3 clients-title">Clients</h3>

          <ul class="clients-list has-scrollbar">

            <li class="clients-item">
              <a href="www.parisspices.com">
                <img src="https://www.parisspices.com/assets/img/logo.jpeg" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="https://th.bing.com/th/id/OIP.a4kQNuHJDg3RWrBLa-RG-AAAAA?rs=1&pid=ImgDetMain" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="https://samindia-version1.vercel.app//assets/img/Screenshot_2024-07-02_105403-removebg-preview.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="https://genzconnect.vercel.app/assets/remotitle.png" alt="client logo">
              </a>
            </li>

            <!-- <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-5-color.png" alt="client logo">
              </a>
            </li>

            <li class="clients-item">
              <a href="#">
                <img src="./assets/images/logo-6-color.png" alt="client logo">
              </a>
            </li> -->

          </ul>

        </section>

      </article>





      <!--
        - #RESUME
      -->
      <article class="resume" data-page="resume">

        <header>
            <h2 class="h2 article-title">Resume</h2>
        </header>
    
        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <ion-icon name="book-outline"></ion-icon>
                </div>
                <h3 class="h3">Education</h3>
            </div>
            <ol class="timeline-list">
                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">Bachelor of Computer Applications, Rajiv Academy of Technology and Management</h4>
                    <span>Expected Graduation: 2026</span>
                    <p class="timeline-text">
                        Relevant Coursework: Web Development, Data Structures, Software Engineering.
                    </p>
                </li>
            </ol>
        </section>
    
        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <ion-icon name="briefcase-outline"></ion-icon>
                </div>
                <h3 class="h3">Experience</h3>
            </div>
            <ol class="timeline-list">
                <li class="timeline-item">
                    <h4 class="h4 timeline-item-title">Participant, GDSC Hackathon 2024</h4>
                    <span>2024</span>
                    <p class="timeline-text">
                        Collaborated with team members to develop a project during the hackathon, gaining hands-on experience in problem-solving and teamwork.
                    </p>
                </li>
            </ol>
        </section>
<section class="timeline">
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="rocket-outline"></ion-icon>
    </div>
    <h3 class="h3">Projects</h3>
  </div>
  <ol class="timeline-list">
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Hitown Bears Website</h4>
      <p class="timeline-text">
        Designed and implemented a dynamic website for a local business using React, HTML, CSS, and Tailwind CSS, enhancing online presence and user experience.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Climate Check 360</h4>
      <p class="timeline-text">
        Created an interactive web application to visualize climate data using React, JavaScript, HTML, and CSS, contributing to environmental awareness and education.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">NeoCodenex Tech</h4>
      <p class="timeline-text">
        Developed a comprehensive corporate website for NeoCodenex Tech, utilizing modern web technologies like React, Node.js, and MongoDB to create a scalable and maintainable solution.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Paris Spices</h4>
      <p class="timeline-text">
        Engineered a responsive e-commerce platform for Paris Spices using Shopify and custom JavaScript solutions, resulting in a 30% increase in online sales.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Sam India Group</h4>
      <p class="timeline-text">
        Led the design and development of a corporate website for Sam India Group, focusing on user experience and performance optimization using Vue.js and Bootstrap.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Genz Connect</h4>
      <p class="timeline-text">
        Developed a social networking platform aimed at connecting Gen Z professionals, incorporating real-time communication features with Firebase and React.
      </p>
    </li>
    <li class="timeline-item">
      <h4 class="h4 timeline-item-title">Weather App</h4>
      <p class="timeline-text">
        Built a weather forecasting app using OpenWeatherMap API, React, and Redux, providing accurate and up-to-date weather information for users worldwide.
      </p>
    </li>
  </ol>
</section>

    
        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <ion-icon name="ribbon-outline"></ion-icon>
                </div>
                <h3 class="h3">Extra-Curricular Activities</h3>
            </div>
            <ol class="timeline-list">
                <li class="timeline-item">
                    <p class="timeline-text">
                        Actively participate in online coding challenges and contests, continuously improving problem-solving skills and staying updated with industry trends.
                    </p>
                </li>
            </ol>
        </section>
    
        <section class="timeline">
            <div class="title-wrapper">
                <div class="icon-box">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <h3 class="h3">Leadership</h3>
            </div>
            <ol class="timeline-list">
                <li class="timeline-item">
                    <p class="timeline-text">
                        Organized and led study groups and coding workshops for fellow students, promoting a collaborative learning environment and sharing knowledge within the community.
                    </p>
                </li>
            </ol>
        </section>
    
        <section class="skill">
            <h3 class="h3 skills-title">My skills</h3>
            <ul class="skills-list content-card">
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h5 class="h5">JavaScript</h5>
                        <data value="80">80%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 80%;"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h5 class="h5">React</h5>
                        <data value="75">75%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 75%;"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h5 class="h5">HTML & CSS</h5>
                        <data value="85">85%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 85%;"></div>
                    </div>
                </li>
                <li class="skills-item">
                    <div class="title-wrapper">
                        <h5 class="h5">Tailwind CSS</h5>
                        <data value="70">70%</data>
                    </div>
                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: 70%;"></div>
                    </div>
                </li>
            </ul>
        </section>
    
    </article>
    




      <!--
        - #PORTFOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>
      
        <section class="projects">
      
          <ul class="filter-list">
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Web design</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Applications</button>
            </li>
            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>
          </ul>
      
          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-selecct-value>Select category</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
            <ul class="select-list">
              <li class="select-item">
                <button data-select-item>All</button>
              </li>
              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>
              <li class="select-item">
                <button data-select-item>Applications</button>
              </li>
              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>
            </ul>
          </div>
      
          <ul class="project-list">
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://neocodenex.tech">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/neo.png') }}" alt="Portfolio Website" loading="lazy">
                </figure>
                <h3 class="project-title">NeoCodenex</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://www.parisspices.com">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/paris.png') }}" alt="Paris Spices" loading="lazy">
                </figure>
                <h3 class="project-title">Paris Spices</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://www.hitownbears.live">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/hb.png') }}" alt="HITOWN BEARS" loading="lazy">
                </figure>
                <h3 class="project-title">HITOWN BEARS</h3>
                <p class="project-category">Web development</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web design">
              <a href="https://samindiagroup.vercel.app">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/sam.png') }}" alt="Sam India Group" loading="lazy">
                </figure>
                <h3 class="project-title">Sam India Group</h3>
                <p class="project-category">Web design</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="applications">
              <a href="https://genzconnect.vercel.app">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/genz.png') }}" alt="AI-Based Text Summarization" loading="lazy">
                </figure>
                <h3 class="project-title">Genz Connect</h3>
                <p class="project-category">Applications</p>
              </a>
            </li>
      
            <!-- <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://github.com/dixitk941/Weather-App">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-6.png" alt="Weather App" loading="lazy">
                </figure>
                <h3 class="project-title">Weather App</h3>
                <p class="project-category">Web development</p>
              </a>
            </li> -->
      
          </ul>
      
        </section>
      
      </article>

      <article class="portfolio" data-page="achievements" id="achievements">

        <header>
          <h2 class="h2 article-title">My Achievements</h2>
        </header>
      
        <section class="projects">
  
      
          <ul class="project-list">
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://drive.google.com/file/d/1cVaT43dqd6GXmaeFKUjVjdEDCVYWhyoN/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/certificates/1714421081529.jpg') }}" alt="Portfolio Website" loading="lazy">
    </figure>
                <h3 class="project-title">Front-End Developer</h3>
                <p class="project-category">HackerRank</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://drive.google.com/file/d/1CzsFCxDrRjfSjAZASMA3V4VC2zqLKNaH/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/certificates/1715762548510.jpg') }}" alt="Paris Spices" loading="lazy">
                </figure>
                <h3 class="project-title">Hack & Chill 2024</h3>
                <p class="project-category">GDSC</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://drive.google.com/file/d/1HjlkMCnOJoTNazmBtd8H7PByT9WeYPhG/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/certificates/1716638659919.jpg') }}" alt="HITOWN BEARS" loading="lazy">
                </figure>
                <h3 class="project-title">Cybersecurity</h3>
                <p class="project-category">Google</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web design">
              <a href="https://drive.google.com/file/d/1DBRPrNgg8oCuVe8-rSrt9WE6W5-3ubfP/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/certificates/1720360566942.jpg') }}" alt="Sam India Group" loading="lazy">
                </figure>
                <h3 class="project-title">Ethical Hacking</h3>
                <p class="project-category">Hackerx</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="applications">
              <a href="https://drive.google.com/file/d/1Dd9dI45HPJnJ1E4vYfQYDYulUoP4BQCK/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="{{ url_for('static', filename='images/certificates/canvas.png') }}" alt="AI-Based Text Summarization" loading="lazy">
                </figure>
                <h3 class="project-title">Problem Solving</h3>
                <p class="project-category">HackerRank</p>
              </a>
            </li>
      
            <li class="project-item active" data-filter-item data-category="web development">
              <a href="https://drive.google.com/file/d/1Dd9dI45HPJnJ1E4vYfQYDYulUoP4BQCK/view?usp=sharing">
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                 
                  <img src="{{ url_for('static', filename='images/certificates/CERTIFICATE_LANDING_PAGE~PMMDU432HJ9Q.jpeg') }}" alt="Weather App" loading="lazy">
                </figure>
                <h3 class="project-title">Python </h3>
                <p class="project-category">Google</p>
              </a>
            </li>
      
          </ul>
      
        </section>
      
      </article>
      



      <!--
        - #BLOG
      -->

      <article class="blog" data-page="blog">

        <header>
          <h2 class="h2 article-title">Blog</h2>
        </header>

        <section class="blog-posts">

          <ul class="blog-posts-list">

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-1.jpg" alt="Design conferences in 2022" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design conferences in 2022</h3>

                  <p class="blog-text">
                    Veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-2.jpg" alt="Best fonts every designer" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Best fonts every designer</h3>

                  <p class="blog-text">
                    Sed ut perspiciatis, nam libero tempore, cum soluta nobis est eligendi.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="./assets/images/blog-3.jpg" alt="Design digest #80" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #80</h3>

                  <p class="blog-text">
                    Excepteur sint occaecat cupidatat no proident, quis nostrum exercitationem ullam corporis suscipit.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="{{ url_for('static', filename='images/blog-4.jpg') }}"  alt="UI interactions of the week" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">UI interactions of the week</h3>

                  <p class="blog-text">
                    Enim ad minim veniam, consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="{{ url_for('static', filename='images/blog-5.jpg') }}" alt="The forgotten art of spacing" loading="lazy">
                  
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">The forgotten art of spacing</h3>

                  <p class="blog-text">
                    Maxime placeat, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item">
              <a href="#">

                <figure class="blog-banner-box">
                  <img src="{{ url_for('static', filename='images/blog-6.jpg') }}" alt="Design digest #79" loading="lazy">
                 

                </figure>

                <div class="blog-content">

                  <div class="blog-meta">
                    <p class="blog-category">Design</p>

                    <span class="dot"></span>

                    <time datetime="2022-02-23">Fab 23, 2022</time>
                  </div>

                  <h3 class="h3 blog-item-title">Design digest #79</h3>

                  <p class="blog-text">
                    Optio cumque nihil impedit uo minus quod maxime placeat, velit esse cillum.
                  </p>

                </div>

              </a>
            </li>

          </ul>

        </section>

      </article>





      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>
      
        <section class="mapbox" data-mapbox>
          <figure>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d200312.087508583!2d77.92522922797825!3d27.590581607232267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39749b3226c27935%3A0x1a81ba405eedc2f4!2sHathras%2C%20Uttar%20Pradesh%20204101%2C%20India!5e0!3m2!1sen!2sbd!4v1647608789441!5m2!1sen!2sbd"
            width="400" height="300" loading="lazy"></iframe>
        </figure>
        </section>
      
        <section class="contact-form">
      
          <h3 class="h3 form-title">Contact Form</h3>
      
          <form action="https://api.web3forms.com/submit" method="POST" class="form" data-form>
            <input type="hidden" name="access_key" value="4a23f842-0992-4aa8-8b4c-5c89ed67160b" />
            
            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>
      
              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>
      
            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>
      
            <button class="form-btn" type="submit" data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>
      
          </form>
      
        </section>
      
      </article>
      

    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>